<header>
	<div class="inner">
		<div class="header__logo">
			<a href="#">
				<img src="https://media.iyba.pro/biopic/29855e74dde4808f9618fd0a9f213beb.png" alt="" title="">
			</a>
		</div><!--.header__logo-->
		
		<div class="header__menu">
			<ul>
				<li class="active"><a href="#">Introduction</a></li>
				<li><a href="#">Our Strategy</a></li>
				<li><a href="#">Your Listing</a></li>
				<li><a href="#">Marketing</a></li>
				<li><a href="#">N&J Experience</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</div><!--.header__menu-->
		
		<div class="header__actions">
			<ul>
				<li>
					<a href="#">
						<i>{x}</i>
						<span>Share</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i>{x}</i>
						<span>Save</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i>{x}</i>
						<span>Print</span>
					</a>
				</li>
			</ul>
		</div><!--.header__actions-->
		
		<div class="header__broker">
			<button>
				<div class="broker__inner">
					<span class="broker__name">Daniel Z.</span>
					<span class="broker__label">Your Broker</span>
					<div class="broker__photo"><img src="https://media.iyba.pro/biopic/29855e74dde4808f9618fd0a9f213beb.png" alt="" title=""></div>
				</div><!--.broker__inner-->
				
				<div class="header__brokerModal">
					<div class="modal__broker">
						<div class="modal__brokerPhoto"><a href="#"><img src="https://media.iyba.pro/biopic/29855e74dde4808f9618fd0a9f213beb.png" alt="" title=""></a></div>
						<div class="modal__brokerMeta">
							<p class="brokerMeta__name">Laurence Ipsum</p>
							<p class="brokerMeta__position">Yacht Sales & Charter Broker</p>
							<a class="brokerMeta__profile" href="#">View Profile</a>
						</div>
					</div><!--.modal__broker-->
					
					<div class="modal__info">
						<dl>
							<dt>Cell:</dt>
							<dd><a href="#">+1 561 400 4810</a></dd>
							
							<dt>Office:</dt>
							<dd><a href="#">+1 561 400 4810</a></dd>
							
							<dt class="full">Email:</dt>
							<dd class="full"><a href="#">broker.lastname@northropandjohnson.com</a></dd>
							
							<dt class="full">N&J Location:</dt>
							<dd class="full">
								2015 SW 20th Street Suite 200<br>
								Fort Lauderdale, FL 33315<br>
								United States
							</dd>
					</div><!--.modal__info-->
					
				</div><!--.header__brokerModal-->
			</button>
			
		</div><!--.header__broker-->
	</div><!--.inner-->
</header>